<header>
  <a class="header-img" routerLink="">
    <img src="../../assets/logo.png" alt="logo" />
  </a>
  <div class="header-wrapper">
    <div class="header-wrapper-top">
      <div class="search-product">
        <input type="text" [formControl]="search" />
        <div id="search-btn" (click)="searchProducts()"></div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div id="user-btn"></div>
      <mat-divider [vertical]="true"></mat-divider>
      <div id="cart-btn" (click)="goToCartPage()"></div>
    </div>
    <app-navbar></app-navbar>
  </div>
</header>
