<header>
  <a class="header-img" routerLink="">
    <img src="../../assets/logo.png" alt="logo" />
  </a>
  <div class="header-wrapper">
    <div class="header-wrapper-top">
      <div class="search-product"></div>
      <mat-divider [vertical]="true"></mat-divider>
      <img src="../../assets/user.png" alt="user" />
      <mat-divider [vertical]="true"></mat-divider>
      <img src="../../assets/cart.png" alt="cart" (click)="goToCartPage()" />
    </div>
    <app-navbar></app-navbar>
  </div>
</header>
