header {
  margin: 10px 0;
  display: flex;
  gap: 30px;
  padding: 0 50px;
}
.header-img {
  width: 125px;
  img {
    width: 100%;
  }
}
.header-wrapper {
  flex-grow: 1;
}
.header-wrapper-top {
  display: flex;
  justify-content: flex-end;
  img {
    width: 50px;
  }
}
.header-wrapper-top img:hover {
  cursor: pointer;
}
.search-product {
  display: flex;
  position: relative;
  height: 48px;
  flex-grow: 1;
  border: solid 1px #ba00ba;
  & input {
    font-size: 24px;
    flex-grow: 1;
    border: none;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
}
#search-btn {
  width: 50px;
  height: 48px;
  background-color: #ba00ba;
  background-image: url(../../assets/search.png);
  cursor: pointer;
  &:hover {
    background-image: url(../../assets/search-hover.png);
  }
}
#user-btn {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/user.png);
  background-size: contain;
  cursor: pointer;
  &:hover {
    background-image: url(../../assets/user-hover.png);
  }
}
#cart-btn {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/cart.png);
  background-size: contain;
  cursor: pointer;
  &:hover {
    background-image: url(../../assets/cart-hover.png);
  }
}
mat-divider {
  margin: 0 30px;
}
app-navbar {
  display: block;
  margin-top: 10px;
  background-color: #ba00ba;
}
