.rubric {
    border: none;
    cursor: pointer;
    background-color: #ba00ba;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
.rubric:hover {
    color: yellow;
}
.mat-mdc-menu-content {
    background-color: #ffbfff !important;
}