<div>
  <button mat-button [matMenuTriggerFor]="menu_woman" class="rubric">
    Women
  </button>
  <mat-menu #menu_woman="matMenu">
    <button mat-menu-item (click)="showProducts('tops')">Tops</button>
    <button mat-menu-item (click)="showProducts('womens-dresses')">
      Dresses
    </button>
    <button mat-menu-item (click)="showProducts('womens-shoes')">Shoes</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu_man" class="rubric">Men</button>
  <mat-menu #menu_man="matMenu">
    <button mat-menu-item (click)="showProducts('mens-shirts')">Shirts</button>
    <button mat-menu-item (click)="showProducts('mens-shoes')">Shoes</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu_Accessory" class="rubric">
    Accessory
  </button>
  <mat-menu #menu_Accessory="matMenu">
    <button mat-menu-item (click)="showProducts('mens-watches')">
      Men's Watches
    </button>
    <button mat-menu-item (click)="showProducts('womens-watches')">
      Women's Watches
    </button>
    <button mat-menu-item (click)="showProducts('womens-bags')">
      Women's Bags
    </button>
    <button mat-menu-item (click)="showProducts('womens-jewellery')">
      Women's Jewellery
    </button>
    <button mat-menu-item (click)="showProducts('sunglasses')">
      Sunglasses
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu_home" class="rubric">
    Home
  </button>
  <mat-menu #menu_home="matMenu">
    <button mat-menu-item (click)="showProducts('home-decoration')">
      Decoration
    </button>
    <button mat-menu-item (click)="showProducts('lighting')">Lighting</button>
    <button mat-menu-item (click)="showProducts('furniture')">Furniture</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu_hightech" class="rubric">
    High Tech
  </button>
  <mat-menu #menu_hightech="matMenu">
    <button mat-menu-item (click)="showProducts('smartphones')">
      Smartphones
    </button>
    <button mat-menu-item (click)="showProducts('laptops')">Laptops</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu_automoto" class="rubric">
    Auto Moto
  </button>
  <mat-menu #menu_automoto="matMenu">
    <button mat-menu-item (click)="showProducts('automotive')">
      Automotive
    </button>
    <button mat-menu-item (click)="showProducts('motorcycle')">
      Motorcycle
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu_cosmetic" class="rubric">
    Cosmetic
  </button>
  <mat-menu #menu_cosmetic="matMenu">
    <button mat-menu-item (click)="showProducts('fragances')">Fragances</button>
    <button mat-menu-item (click)="showProducts('skincare')">Skincare</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu_others" class="rubric">
    Others
  </button>
  <mat-menu #menu_others="matMenu">
    <button mat-menu-item (click)="showProducts('groceries')">Groceries</button>
  </mat-menu>
</div>
