.cart-title {
  text-align: center;
}
.cart-container {
  display: flex;
  gap: 50px;
  padding: 0 50px;
}
.cart-items-container {
  width: 50%;
}
app-cart-item {
  display: block;
}
app-cart-summary {
  display: block;
  width: 50%;
}
