.breadcrumb {
  font-size: 12px;
  img {
    width: 20px;
  }
}
.chevron {
  font-weight: bold;
}
.reactive-link:hover {
  cursor: pointer;
}
span.reactive-link:hover {
  text-decoration: underline;
}
