<section>
  <h1>{{ product.title }}</h1>
  <div class="detail">
    <div class="detail-image">
      <img src="{{ displayedImage }}" alt="{{ product.title }}" />
    </div>
    <div class="detail-text">
      <p>
        <span class="subtitle">Description : </span>
        <span>{{ product.description }}</span>
      </p>
      <p class="discount">
        <span>{{ product.discountPercentage }}</span>
        <span>% off coupon</span>
      </p>
      <p class="high-price">
        <span>{{ highPrice }}</span>
        <span> US$</span>
      </p>
      <p class="price">
        <span>{{ product.price }}</span>
        <span> US$</span>
      </p>
      <button type="button">Add to cart</button>
    </div>
  </div>
  <div class="thumbnail">
    <img
      *ngFor="let image of product.images; index as i"
      src="{{ product.images[i] }}"
      alt="{{ product.title }}"
      class="{{ getThumbClasses(i) }}"
      id="thumb-{{ i }}"
      (click)="setActive(i)"
    />
  </div>
</section>
