<section>
  <p class="secondary-links">
    <img src="../../assets/home.png" alt="go to home page" />
    <span class="chevron"> > </span>
    <span>{{ currentRubric }}</span>
    <span class="chevron"> > </span>
    <span>{{ product.category }}</span>
  </p>
  <h1>{{ product.title }}</h1>
  <div class="detail">
    <div class="detail-image">
      <img src="{{ product.thumbnail }}" alt="{{ product.title }}" />
    </div>
    <div class="detail-text">
      <p>
        <span class="subtitle">Description : </span>
        <span>{{ product.description }}</span>
      </p>
      <p class="price">
        <span>{{ product.price }}</span>
        <span> US$</span>
      </p>
      <button type="button">Add to cart</button>
    </div>
  </div>
</section>
