<div class="item-card">
  <div class="item-card-img">
    <img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
  </div>
  <div class="item-card-txt">
    <h2>{{ item.title }}</h2>
    <label for="item-quantity">Quantity</label>
    <input
      #quantity
      type="number"
      id="item-quantity"
      value="{{ item.quantity }}"
      min="1"
      max="{{ item.stock }}"
      (change)="updateItem(quantity.value)"
    />
    <p (click)="deleteItem()" class="delete-btn">Delete</p>
  </div>
  <div class="item-card-price">
    <p class="label">unit price</p>
    <p class="price">
      <span>$</span>
      <span>{{ item.price }}</span>
    </p>
  </div>
</div>
