<mat-expansion-panel class="filter">
  <mat-expansion-panel-header>
    <mat-panel-title> Filter by </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <mat-divider></mat-divider>
    <p class="expansion-panel-title">Brand</p>
    <div class="brands-section" [formGroup]="brandsForm">
      <mat-checkbox
        *ngFor="let brand of brandsList"
        class="brand-checkbox"
        formControlName="{{ formatBrandName(brand) }}"
        (change)="filterByBrands()"
        >{{ brand }}</mat-checkbox
      >
    </div>
    <mat-divider></mat-divider>
    <p class="expansion-panel-title">Price</p>
    <mat-slider min="{{ minPrice }}" max="{{ maxPrice }}" class="price-slider">
      <input [(ngModel)]="minPriceFilter" matSliderStartThumb />
      <input [(ngModel)]="maxPriceFilter" matSliderEndThumb />
    </mat-slider>
    <div class="price-inputs">
      <div>
        <label for="min-price">Min.</label>
        <p>
          <input
            type="number"
            id="min-price"
            [(ngModel)]="minPriceFilter"
            class="input-price"
            min="{{ minPrice }}"
            max="{{ maxPrice }}"
          />
          <span> US$</span>
        </p>
      </div>
      <div>
        <label for="max-price">Max.</label>
        <p>
          <input
            type="number"
            id="max-price"
            [(ngModel)]="maxPriceFilter"
            class="input-price"
            min="{{ minPrice }}"
            max="{{ maxPrice }}"
          />
          <span> US$</span>
        </p>
      </div>
    </div>
  </div>
</mat-expansion-panel>
