<mat-expansion-panel class="filter">
  <mat-expansion-panel-header>
    <mat-panel-title> Filter by </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <mat-divider></mat-divider>
    <p class="expansion-panel-title">Brand</p>
    <div class="brands-section" [formGroup]="brandsForm">
      <mat-checkbox
        *ngFor="let brand of brandsList"
        class="brand-checkbox"
        formControlName="{{ formatBrandName(brand) }}"
        (change)="applyFilters()"
        >{{ brand }}</mat-checkbox
      >
    </div>
    <mat-divider></mat-divider>
    <p class="expansion-panel-title">Price</p>
    <div [formGroup]="pricesForm">
      <mat-slider
        min="{{ minPrice }}"
        max="{{ maxPrice }}"
        class="price-slider"
      >
        <input
          formControlName="min_price"
          [(value)]="minPriceFilter"
          matSliderStartThumb
          (change)="applyFilters()"
        />
        <input
          formControlName="max_price"
          [(value)]="maxPriceFilter"
          matSliderEndThumb
          (change)="applyFilters()"
        />
      </mat-slider>
      <div class="price-inputs">
        <div>
          <label for="min-price">Min.</label>
          <p>
            <input
              type="number"
              id="min-price"
              class="input-price"
              min="{{ minPrice }}"
              max="{{ maxPrice }}"
              formControlName="min_price"
              value="{{ minPriceFilter }}"
              (change)="applyFilters()"
            />
            <span> US$</span>
          </p>
        </div>
        <div>
          <label for="max-price">Max.</label>
          <p>
            <input
              type="number"
              id="max-price"
              class="input-price"
              min="{{ minPrice }}"
              max="{{ maxPrice }}"
              formControlName="max_price"
              value="{{ maxPriceFilter }}"
              (change)="applyFilters()"
            />
            <span> US$</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
